@import './variables.scss';

.item-detail-container{
  grid-column-start: 2;
  grid-column-end: 12;
  border-radius: 4px;
  background-color: white;
  margin-top: 48px;
}

.item-detail-first-row{
  display: flex;

  .item-detail-img-container{
    flex: 5;
    margin-right: 10px;

    img{
      max-width: 680px;
      max-height: 680px;
    }
  }

  .item-detail-info{
    text-align: left;
    flex: 3;
    margin-top: 32px;
    margin-right: 32px;

    .item-detail-condition-sold{
      font-size: 14px;
      color: #999999;
      margin: 0;
      margin-bottom: 16px;
    }

    .item-detail-title{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .item-detail-price{
      font-size: 46px;
      font-weight: normal;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    .item-detail-buy{
      padding: 10px;
      background-color: cornflowerblue;
      color: white;
      border-radius: 4px;
      border: none;
      width: 100%;
      cursor: pointer;
    }
  }
}

@media(max-width: 480px){
  .item-detail-first-row{
    flex-direction: column;
  }
}
.item-detail-description {
  margin-left: 32px;
  margin-bottom: 32px;
}

.item-detail-description-title{
  font-size: 28px;
  text-align: left;
  display: block;
  margin-bottom: 32px;
}

.item-detail-description-text{
  font-size: 16px;
  width: 70%;
  text-align: left;
  color: #999999;
}